*{
    margin: 0 auto;
    


}

@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&family=Roboto:ital,wght@1,100&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&family=Roboto:ital,wght@1,100&display=swap');


header {
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 24px;
}

header h1 {
    font-size: 6vw;
    font-weight: bold;
    font-family: 'Kalam', cursive;
    
    
}
header p{
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    padding-top: 10px;
    padding-bottom: 10px;
}

header a{
    text-decoration: none;
    color: white;
}

header a:hover{
    text-decoration: underline;
}

section{

    padding: 40px;
    font-size: 2.5vw;
   
      
    
}

main{
    font-size: 40px;
    font-weight: bolder;
}

section p {
    padding-top: 60px;
    font-weight: bolder;
    line-height: 2.5em;
    font-family: 'Kalam', cursive;
    
    

}

#img1{
    background-image: url(imagens/background001.jpg);
    background-size: cover;
    background-attachment:fixed;
    background-position:center;
    
    color: white;
}

#img1 p {
    background-color: rgba(0, 0, 0, 0.596);
    display: inline-block;
    padding: 0px 10px;

    
}


#img2{
    background-image: url(imagens/background002.jpg);
    background-size: cover;
    background-attachment:fixed;
    background-position:center;
    color: white;
} 

#img2 p {
    background-color: rgba(0, 0, 0, 0.596);
    display: inline-block;
    padding: 0px 10px;

    
}


footer {
    padding: 12px;
    background-color: black;
    color: white;
    text-align: center;
    
}

footer a{
    text-decoration: none;
    font-weight: bold;
    color: white;
    font-size: 20px;
}

footer a:hover{

    text-decoration: underline;
}